<div class="container">
	<h1 class='mt-5'>Meet the Doctors</h1>
	<div class="row mt-5"> 
	<div class="col-12">
    <div class="entry">
    <h1>Meet the Doctors</h1>
    <p><strong>Dr. Crovatto</strong>  and <strong>Dr. Edwards</strong> are active members of the <a href="http://www.ada.org/">American Dental Association</a>, the<a href="http://www.floridadental.org/"> Florida Dental Association</a>, and the <a href="http://www.claycountydental.org/">Clay County Dental Society</a>.&nbsp; </p>
    <p>We kindly  donate and support the <a href="http://www.woundedwarriorproject.org/">Wounded Warrior Project</a>, Clay County Dental Clinic, <a href="http://www.safeanimalshelter.com/">Safe  Animal Shelter</a>, Clay County Gator Scholarship Fund, <a href="http://www.cancer.org/">American Cancer Society</a>,  <a href="http://web.alsa.org/site/PageServer?pagename=WLK_landing">Walk to Defeat ALS</a> Corporate Sponsors, <a href="http://www.upward.org/">Upward Youth Athletics</a>, local schools,  churches and Clay County Athletic Organizations.</p>
    <p>&nbsp;</p>
    
    <div class="row"> 
	<div class="col-3">
    	<img src="assets/img/steven-crovatto.jpg" alt="Steven Crovatto" width="175" height="263" class="imageLeft">
    </div>
    <div class="col-7">
    	<h2><strong>Dr. Steven Crovatto</strong></h2>
    	<p><strong> Dr. Steven Crovatto</strong> is a native of New York. His family relocated to Orange Park in the early 1980's. Dr. Crovatto attended Orange Park High School and <a href="http://www.unf.edu/">The University of North Florida</a> and received his dental degree at The University of Florida. Dr. Crovatto  is the past president of the <a href="http://www.claycountydental.org/">Clay County Dental Society</a>.</p>
    	<p>Dr. Crovatto enjoys time with his wife and two children, fishing, diving and flying.</p>
    </div>
    </div>
    
    <div class="row mt-5"> 
	<div class="col-3">
    	<img src="assets/img/megan-edwards,jpg.jpg" alt="Megas Edwards" width="175" height="263" class="imageLeft">
    </div>
    <div class="col-7">
		<h2><strong>Megan Edwards, D.M.D., P.A.</strong></h2>
    	<p><strong> Dr. Megan Edwards</strong> was born and raised in South Florida but now calls North Florida her home. She completed both her undergraduate degree in Mathematics and dental degree at the <a href="http://www.ufl.edu/">University of Florida</a>.</p>
    	<p>Outside of dentistry, Dr. Edward's interests include spending time with her husband and two daughters, traveling, home improvement projects, and Gator football.</p>
    </div>
    </div>

    </div>
    </div>
    </div>
</div>