
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-inverse bg-brown text-baby-blue fixed-top">
	<div class="container">
		<a class="navbar-brand" href="#"><img src="assets/img/logo3.gif"
			alt="Go Home / Crovatto &amp; Edwards"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarResponsive" aria-controls="navbarResponsive"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="row">
			
			<div class="col-6">
				<div class="row">
					<div class="col-1">
						<i class="fa fa-mobile fa-3x" aria-hidden="true"></i>
					</div>
					<div class="col-7">
						Call us today!<br> <strong><a href="tel:904-272-0800"  class="text-white" >904-272-0800</a></strong>
					</div>
				</div>
			</div>
			<div class="col-6">
				<div class="row">
					<div class="col-1">
						<i class="fa fa-map-marker fa-3x" aria-hidden="true"></i>
					</div>
					<div class="col-10">
						<a href="http://goo.gl/maps/Rkcaa" target="_blank" class="text-white"><strong>105
								Foxridge Road,</strong></a><br> Orange Park, FL, 32065
					</div>
				</div>
			</div> 

			<div class="col-12">
				 <ul  id="mymenu" class="list-group" data-spy="affix" data-offset-top="205" style="list-style-type:none;">

						<li class="active border border-left-0 bg-baby-blue" >
							<a class="nav-link" routerLink="/main" routerLinkActive="active">Home</a>
						</li>
						<li class="border bg-baby-blue">
							<a class="nav-link" routerLink="/beforeandafter" routerLinkActive="active">Before &amp; After</a>
						</li>
						<li class="border bg-baby-blue">
							<a class="nav-link" routerLink="/doctors" routerLinkActive="active">Meet The Doctors</a>
						</li>
						<li class="border bg-baby-blue">
							<a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact Us</a>
						</li>
						<li class="border border-right-0 bg-baby-blue">
							<a class="nav-link" routerLink="/payments" routerLinkActive="active">Make A Payment</a>
						</li>
					</ul>
				</div>

		</div>
	</div>
</nav>
