 <div class="container top-margin">
  <div class="row">
    <div class="col-sm-12">
  		<h1>Before &amp; After Comparison</h1>  	
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
  		<h3>Mary</h3>  	
    </div>
  </div>  
  <div class="row top-buffer">
    <div class="col-sm-3">
    	<img src="http://placehold.it/280x200">
    	Before
    </div>
    <div class="col-sm-3">
    	<img src="http://placehold.it/280x200">
    	After
    </div>
    <div class="col-sm-6">
    	<img src="http://placehold.it/560x200">
    	Close Up Comparison
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
    	<hr>
  		<h3>Fred</h3>  	
    </div>
  </div>    
  <div class="row top-buffer">
    <div class="col-sm-3">
    	<img src="http://placehold.it/280x200">
    	Before
    </div>
    <div class="col-sm-3">
    	<img src="http://placehold.it/280x200">
    	After
    </div>
    <div class="col-sm-6">
    	<img src="http://placehold.it/560x200">
    	Close Up Comparison
    </div>
  </div>
  
    <div class="row">
    <div class="col-sm-12">
    	<hr>
  		<h3>Alice</h3>  	
    </div>
  </div>  
  
    <div class="row top-buffer">
    <div class="col-sm-3">
    	<img src="http://placehold.it/280x200">
    	Before
    </div>
    <div class="col-sm-3">
    	<img src="http://placehold.it/280x200">
    	After
    </div>
    <div class="col-sm-6">
    	<img src="http://placehold.it/560x200">
    	Close Up Comparison
    </div>
  </div>
  
    <div class="row">
    <div class="col-sm-12">
    	<hr>
  		<h3>Tina</h3>  	
    </div>
  </div>  
  
  <div class="row top-buffer mb-4">
    <div class="col-sm-3">
    	<img src="http://placehold.it/280x200">
    	Before
    </div>
    <div class="col-sm-3">
    	<img src="http://placehold.it/280x200">
    	After
    </div>
    <div class="col-sm-6">
    	<img src="http://placehold.it/560x200">
    	Close Up Comparison
    </div>
  </div>
