
<div class="container top-margin">
	<div class="col-sm-12">
		<h1>Services</h1>
	</div>
	
	 <div>
      <p class="s3" style="background-color:#CBDCA3;">We offer a wide range of services to </p>
      <p class="s3" style="background-color:#CBDCA3;">keep your teeth healthy and attractive.</p>
      <span class="s3"><br>
		    </span>
      <ul class="compact-li"><li class="s3">Preventative Healthy Cleanings</li>
        <li class="s3">Digital X-rays</li>
        <li class="s3">iTero Scanning</li>
        <li class="s3">Implant Crowns</li>
        <li class="s3">Crowns</li>
        <li class="s3">Partials</li>
        <li class="s3">Dentures</li>
        <li class="s3">Bridges</li>
        <li class="s3">Veneers</li>
        <li class="s3">Restorative Fillings</li>
        <li class="s3">Root Canals</li>
        <li class="s3">Extractions</li>
        <li class="s3">Deep Cleanings</li>
      </ul>
		    <p class="s3"><br>
		      </p>
		    <p style="s3; background-color: #CBDCA3; font-weight: bold; font-style: normal;"><span class="s3"><em>We strive to make your appointment  comfortable </em><br>
		        <em>and offer Nitrous Oxide (laughing gas) to  patients who need assistance in relaxation.</em> </span>
		    </p><p>&nbsp;</p>
		      <div style="text-align: center; font-style: normal; font-weight: bold;"><p class="s3"><strong>Need a second opinion?&nbsp;</strong> </p>
          <p class="s3"><strong>We offer no charge consultations for </strong></p>
       <p class="s3"><strong>second  opinions!</strong></p><p></p></div></div>
</div>