<!-- Footer -->

 <footer class="footer">
      <div class="fixed-bottom footer">
      	<div class="container">
  		<div class="row justify-content-center">
			<div class="col-4 mt-4">
				
				<p id="copyright">&copy;2013 Crovatto & Edwards, all rights reserved.</p>
				<p id="copyright">105 Foxridge Road, Orange Park, FL, 32065<br/>
				<strong>T</strong>: 904-272-0800 &nbsp; <strong>F</strong>: 904-272-4923</p>							
			</div>
			<div class="col-2 mt-4">
				<ul class="list-unstyled">
					<li><a href="/">Home</a></li>
		    		<li><a href="/services.php">Services</a></li>
		    		<li><a href="/meet-the-doctors.php">Meet the Doctors</a></li>
		    		<!-- <li><a href="/meet-the-staff.php">Meet the Staff</a></li> -->
		    		<li><a href="/map-directions.php">Map & Directions</a></li>
		    		<li><a href="/contact.php">Contact Us</a></li>
				</ul>
			</div>
			<div class="col-2  mt-4">			
				<h6>ONLINE SERVICES</h6>
				<ul class="list-unstyled">
					<li><a href="https://www.ident.ws/template_include/pi_login.jsp?site=6203" target="_blank">Patient Login</a></li>
					<li><a href="https://www.ident.ws/template_include/new_patient_sign_in.do?site=6203&practiceId=24356" target="_blank">New Patient Forms</a></li>
				</ul>
			</div>
			<div class="col-2  mt-4">
				<h6>LINKS</h6>
				<ul class="list-unstyled">
					<li><a href="http://www.ada.org/" target="_blank">American Dental Association</a></li>
					<li><a href="http://www.floridadental.org/" target="_blank">Florida Dental Association</a></li>
				</ul>
			</div>
			<div class="col-2  mt-4">
				<a href="https://www.facebook.com/pages/Crovatto-and-Edwards-Family-Dentistry/129027787220427" target="_blank"><img src="assets/img/fb.png" alt="Find us on Facebook" width="209" height="64" title="Find us on Facebook!"/></a>
			</div>
      	</div>
      </div>
      </div>
  </footer>



<!-- End Footer -->